name: 'Test Plugin'

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  checks: write

jobs:
  localPluginTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-caches-v0-${{ hashFiles('build.gradle.kts', 'settings.gradle.kts', 'gradle/wrapper/gradle-wrapper.properties') }}

      - name: Run tests
        run: ./gradlew test --tests 'com.ioki.lokalise.gradle.plugin.unit*'

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: success() || failure()
        with:
          check_name: 'Unit Test Reports'
          report_paths: '**/build/test-results/test/TEST-*.xml'

  publishingConsumingPluginTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-caches-v0-${{ hashFiles('build.gradle.kts', 'settings.gradle.kts', 'gradle/wrapper/gradle-wrapper.properties') }}

      - name: Publish Plugin to mavenLocal
        run: ./gradlew publishToMavenLocal

      - name: Run publishing/consuming tests
        run: ./gradlew test --tests 'com.ioki.lokalise.gradle.plugin.instrumentation*'

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: success() || failure()
        with:
          check_name: 'Publishing Test Reports'
          report_paths: '**/build/test-results/test/TEST-*.xml'